<html>
    <div id="navwhenlog" class="container row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" onclick="menu1()">Tableau de bord</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" onclick="menu2()">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" onclick="menu3()">Link</a>
                </li>
                <li class="nav-item">
                    <button id="logoutbtnhead" type="button" onclick="logout()" class="btn btn-danger">Deconnexion</button>
                </li>
            </ul>
        </div>
    </div>
</html>